@using PagedList.Mvc
@model PagedList.IPagedList<Paging.Models.Employee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of employee</h2>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelitem => item.FirstName)</td>
            <td>@Html.DisplayFor(modelitem => item.LastName)</td>
        </tr>
    }
</table>
<p>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),PagedListRenderOptions.PageNumbersOnly)
</p>

